.AcknoledgemntPageWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.Acknoledgemnt-Container{
    width: 500px;
    height: 120px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}


.pack333-success-text-1{
font-size: 40px;
font-weight: 450;
color: rgb(92, 255, 47);
text-align: center;
}
.pack333-additional-info-text{
    font-size: 20px;
    font-weight: 400;
    
}

.ContinueShoppingButton{
    width: 220px;
    height: 90px;
    font-weight: 20px;
    font-weight: 400;
    text-align: center;
    background-color: rgb(198, 73, 90);
    box-shadow: 4px 4px 10px rgba(0, 0, 0,0.4);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}  

.Acknoledgemnt-Details-Title{
    color: black;
    font-size: 20px;
}