.App-Wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: background-image 3s;
  background-repeat: no-repeat;
  background-size: contain;
}
.NavDiv-InApp{
  width: 100%;
  flex:0.1;
  
}

.Content-InApp{
  width: 100%;
  flex: 0.9;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
 
}

.Hide{
  display: none !important;
}