.crc25-main-wrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.2);
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 800px;
}

.crc25-details-wrap{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}

.crc25-restaurant-name{
    font-size: 21px;
    font-weight: 600;
    color: rgb(86, 207, 86);
}

.crc25-restaurant-address{
    font-size: 19px;
    font-weight: 400;
   
}
.crc25-restaurant-group-wrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}
.crc25-restaurant-phone{
    font-size: 19px;
    font-weight: 400;
   
}

.crc25-restaurant-ratings-wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.crc25-restaurant-rating{
    font-size: 19px;
    font-weight: 400;
}

.crc25-restaurant-menu-count{
    font-size: 19px;
    font-weight: 400;

}
.crc25-main-text{
    font-size: 19px;
    font-weight: 400;
    color: rgb(86, 207, 86);
}


.crc25-text-general{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    margin-top: 10px;
    max-width: 260px;
word-wrap:break-word;
text-overflow: ellipsis;
max-height: 30px;
overflow: hidden;
}

.crc25-options-wrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-top: 30px;

}

.crc25-option-button{
    display: flex;
    text-align: center;
     width: 120px;
     height: 40px;
     font-size: 19px;
     font-weight: 400;
     border-radius: 12px;
     box-shadow: 0px 5px 6px 2px rgba(0,0,0,0.6);
     border: none;
     justify-content: center;
     align-items: center;
     background-color: rgb(86, 207, 86);
}