.ProductCard-Wrapper{
    display: flex;
    flex-flow: row wrap;
    width: 300px;
    min-width: 200px;
   
    border-radius: 5px;
    margin-bottom: 30px;
    margin-right: 19px;
    cursor: pointer;
    background-color: transparent;
    perspective: 1000px;
    height: 400px;
}

.ProductCard-LeftWrapper{
    width: 300px;
    height: 250px;
}

.ProductCard-RightWrapper{
    width: 300px;
    height: 110px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.ProductCard-Name{
    text-align: left;
    color: black;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    padding-left: 5px;

}

.ProductCard-MainInfo-Wrapper{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    width: 100%;
}

.ProductCard-Description{
    width: 100%;
    max-width: 280px;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ProductCard-FrontSideWrapper{
position: absolute;
    backface-visibility: hidden;
    width: 100%;
   height: 100%;
   background: white;
}

.ProductCard-BackSideWrapper{
    position: absolute;
    backface-visibility: hidden;
   width: 100%;
   height: 100%;
   background: rgb(29, 95, 170);
   transform: rotateY(180deg);
}
.ProductCard-Container{
    position: relative;
    width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0px 5px 5px rgb(143, 136, 136) ;
  border-radius: 5px;
  background-color: transparent;
  perspective: 1000px;
}

.ProductCard-Wrapper:hover .ProductCard-Container{
    transform: rotateY(180deg);
}
.ProductCard-BackSide-TopWrapper{
    width: 280px;

}
.ProductCard-BackSide-ProductDescription{
width: 280px;
white-space: wrap;
overflow: hidden;
text-overflow: clip;
height: 100px;
overflow-y: hidden;
overflow-x: hidden;
}
.ProductCard-BackSide-BottomWrapper{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.InProductCardQuantityWrapper{
    flex-flow: row wrap;
    width: 300px !important;
}

._300px{
    width: 300px !important;
}
.ProductCart-ViewProductButton{
    margin-top: 10px;
}

.CustomButton-GeneralProperties{
    background-color: gold !important;
    border-radius: 7px;
    box-shadow: 4px 4px 3px rgb(143, 136, 136);
    cursor: pointer;
    text-align: center;
}

.CartCard-Backside-Text{
    font-size: 15px;
    font-weight: 300;
    color: white;
}
.CartMainText{
    text-align: center;
}
