.ConsumerProfileWrapper{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-flow: column wrap;
    justify-content: space-around;
    overflow-y: scroll;
}

.ConsumerProfile-History-Wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 30px;
}

.ConsumerProfile-Cart-Wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 30px;
}